
@import "../_vars.scss";

.avatar-editor {
	> .canvas {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		display: flex;
		flex-direction: column;
		padding: 0;
		margin: 0;
		overflow: hidden;

		ModelViewer {
			flex-grow: 1;
			background-color: #888;
		}
	}

	.sidebar {
		width: 500px;
	}

	.category-button {
		font-size: 25px;
	}

	.clothing {
		justify-content: flex-start;
	}
}

ClothingButton
{
	flex-grow: 1;
	flex-shrink: 1;
	height: 120px;
	min-width: 32%;
	max-width: 33%;
	aspect-ratio: 1;

	.image
	{
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
        position: absolute;
        left: 1px;
		right: 1px;
		top: 1px;
		bottom: 1px;
	}

	.variations-icon
	{
		position: absolute;
		top: 2px;
		right: 2px;
	}
}

.avatar-editor .clothing-detail {
	margin-left: 45px;
	margin-top: 50px;
	flex-direction: column;
	pointer-events: all;

	.title {
		font-size: 30px;
		font-weight: lighter;
		letter-spacing: 1px;
	}
}
