@using System;
@using Sandbox;
@using Sandbox.UI;
@attribute [StyleSheet]

@namespace Menu

<root>
    <div class="indicator">
        <i>autorenew</i>
    </div>
</root>

@code
{

}
